<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <li><a href="/portfolioOverview">Portfolio Overview</a></li>
                    <li><a href="/stockMarketInfo">Stock Market Info</a></li>
                    <li><a href="/portfolioEditor">Portfolio Editor</a></li>
                    <li><a href="/personalData">Personal Data</a></li>
                    <li><a href="/changePassword">Change Password</a></li>
                </ul>
            </div>
        </div>
        <h1 class="page_title">{{title}}</h1>
    </body>
</html>