<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio tracker</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <li><a href="/portfolioOverview">Portfolio Overview</a></li>
                    <li><a href="/stockMarketInfo">Stock Market Info</a></li>
                    <li><a href="/portfolioEditor">Portfolio Editor</a></li>
                    <li><a href="/personalData">Personal Data</a></li>
                    <li><a href="/changePassword">Change Password</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>