<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="script.js"></script>
</head>
<body class="reg_pag">
  {% include 'base.html' %}
  <div class="change-password">
    <form method="post" action="/changePasswordFun">
      <div class="txt_field">
        <input name="password" type="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <div class="txt_field">
        <input name="new_password1" type="password" oninput="checkPassword()" required>
        <span></span>
        <label>New password</label>
      </div>
      <div class="txt_field">
        <input name="new_password2" type="password" oninput="checkPassword()" required>
        <span></span>
        <label>Repeat new password</label>
      </div>
      <p id="errorMessage"></p>
      {%if error == True%}
      <div class="error-message">You have entered wrong password!</div>
      {%endif%}
      {%if success == True%}
      <div class="success-message">Your password has been updated!</div>
      {%endif%}
      <br>
      <input id="submit-change-password" type="submit" value="Save"/>
    </form>
  </div>
</body>
</html>