<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio tracker</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="index-main">
            <a href="/login_page">Go to login page</a>
            <br>
            <br>
            <a href="/register_page">Go to register page</a>        <br>
        </div>
        <div class="index-container">
            <p>
                Welcome to the portfolio tracker, a web application designed to help investors track and analyze their portfolio performance. 
                With our user-friendly interface, you can view detailed graphs and statistics about your portfolio's assets. 
                You can also access information about specific stock markets and individual stocks to help you make informed investment decisions. 
                Whether you are a beginner or a seasonal investor, the portfolio tracker is a valuable tool for managing your investments and maximizing 
                your returns. So why wait? Start using the portfolio tracker today and take control of your financial future!
            </p>
        </div>
    </body>
</html>